%h1 What would you like to do? (:
%ul
  %li Openlectures
  %li Opennotes
  %li Openquestions

{{Search bar with autocomplete typeahead}}

{{Most recent questions}}
{{Most recent notes}}
{{Most recent lectures}}

{{Most popular questions}}
{{Most popular notes}}
{{Most popular lectures}}